@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: inherit;
  }

  .page.empty {
    display: none;
  }

  .logo-wrap {
    display: flex;
  }

  .page {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
    padding-bottom: 30px;
  }

  #wrap-print {
    gap: 0 !important;
  }

  .card {
    margin: 0 !important;
  }
}

body {
  @apply bg-neutral-700;
}

.page {
  @apply w-[210mm] h-[297mm] bg-[url('/assets/bg.png')];
}

.card {
  @apply w-[63mm] h-[88mm] my-[5mm] mx-[3mm] float-left;
}

.back {
  background: url("/assets/back.png");
  background-color: transparent;
  background-size: 63mm 88mm;
  background-repeat: no-repeat;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
